<app-admin-nav [selectedMenuItem]="'ManageAlbums'"></app-admin-nav>
<div class="container">
    <h2>Manage Albums</h2>
    <p>{{albums?.length}} album(s)</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Artist</th>
                <th>Album art url</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let album of albums">
                <td>{{album.title}}</td>
                <td>{{album.genreId}}</td>
                <td>{{album.price}}</td>
                <td>{{album.artist}}</td>
                <td>{{album.albumArtUrl}}</td>
                <td><button class="btn btn-primary btn-sm">Edit</button><button class="btn btn-danger btn-sm">Delete</button><td>
            </tr>
        </tbody>
    </table>
    <div [ngSwitch]="mode">
        <div *ngSwitchCase="'add'">
            <album-add (hasSaved)='onSave($event)'></album-add>
        </div>
        <div *ngSwitchDefault>
            <button class="btn btn-primary btn-sm" (click)="chooseMode('add')">Add album</button>
        </div>
    </div>
</div>