<div class="modal-background"></div>
<div class="row">
    <div class="col-md-offset-2 col-md-4 panel modal-panel">
        <div class="panel-heading">
            <div class="panel-title">
                <h1>Edit album {{album?.AlbumKey}}</h1>
            </div>
        </div>
        <div class="panel-body">
            <form [formGroup]="form" novalidate class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4" for="title">Title:</label>
                    <input class="form-control col-md-8" type="text" name="title" placeholder="Title (required)" formControlName="title">
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="genreKey">Genre:</label>
                    <select class="form-control col-md-8" name="genreKey" formControlName="genreKey">
                        <option value="default">--Select a genre--</option>
                        <option *ngFor="let option of genreOptions" [ngValue]="option.key" (selected)="album.genreKey">{{option.value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="price">Price:</label>
                    <input class="form-control col-md-8" type="text" name="price" placeholder="Price (required)" formControlName="price">
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="artist">Artist:</label>
                    <input class="form-control col-md-8" type="text" name="artist" placeholder="Artist (required)" formControlName="artist">
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="albumArtUrl">Album art url:</label>
                    <input class="form-control col-md-8" type="text" name="albumArtUrl" placeholder="Album art url" formControlName="albumArtUrl">
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!form.valid">Save</button>
                        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>