<app-admin-nav [selectedMenuItem]="'ManageAlbums'"></app-admin-nav>
<div class="container">
    <h2>Manage Albums</h2>
    <p>{{albums?.length}} album(s)</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Album key</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Artist</th>
                <th>Album art url</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let album of albums">
                <td>{{album.albumKey}}</td>
                <td>{{album.title}}</td>
                <td>{{album.genreKey}}</td>
                <td>{{album.price}}</td>
                <td>{{album.artist}}</td>
                <td>{{album.albumArtUrl}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" (click)="edit(album.albumKey)">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="delete(album.albumKey)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div [ngSwitch]="mode">
        <div *ngSwitchCase="'add'">
            <app-album-add (hasSaved)='onSave($event)'></app-album-add>
        </div>
        <div *ngSwitchCase="'edit'">
            <app-album-edit [albumKey]='targetAlbumKey' (hasSaved)='onSave($event)'></app-album-edit>
        </div>
        <div *ngSwitchCase="'delete'">
            <app-album-delete [albumKey]='targetAlbumKey' (hasDeleted)='onSave($event)'></app-album-delete>
        </div>
        <div *ngSwitchDefault>
            <button class="btn btn-primary btn-sm" (click)="add()">Add album</button>
        </div>
    </div>
</div>