<div class="row">
    <div class=" col-md-offset-2 col-md-4 panel">
        <div class="panel-heading">
            <div class="panel-title">
                <h1>Add an album</h1>
            </div>
        </div>
        <div class="panel-body">
            <form [formGroup]="albumForm" novalidate (ngSubmit)="save()">
                <div class="form-group">
                    <label class="control-label col-md-4" for="title">Title:</label>
                    <input class="form-control col-md-8" type="text" name="title" placeholder="Title (required)" formControlName="title">
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="genreId">Genre:</label>
                    <select class="form-control col-md-8" name="genreId" formControlName="genreId">
                        <option *ngFor="let option of genreOptions" [ngValue]="option.key">{{option.value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-4 col-md-8">
                        <button class="btn btn-primary" type="submit" [disabled]="!albumForm.valid">Save</button>
                        <button (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>