<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Logon</h1>
                </div>
            </div>
            <div class="panel-body">
                <form class="form form-horizontal">
                    <div class="input-group">
                        <label for="email" class="control-label">Email:</label>
                        <div>
                            <input type="text" placeholder="Enter email address" id="email" name="email" [(ngModel)]="email" required #em="ngModel">
                            <div [hidden]="em.valid || em.pristine" class="bg-danger">
                                Email is required
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="control-label">Password:</label>
                        <div>
                            <input type="password" placeholder="Enter password" id="passwprd" name="password" [(ngModel)]="password" required #pwd="ngModel">
                            <div [hidden]="pwd.valid || pwd.pristine" class="bg-danger">
                                Password is required
                            </div>
                        </div>
                    </div>
                    <div class="controls">
                        <a class="btn btn-primary" (click)="login()">Login</a>
                        <a (click)="cancel()">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>